:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('lp-hero.png');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group>input {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
}

#showSuccessMsg {
    display: none;
}
.voucher-center {
  justify-content: center;
  align-items: center;
}
.voucherbox {
  width: 320px;
  height: 200px;
  display: block;
  padding: 1rem 2rem;
  background-color: #d61d23;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
  background-image: url('voucher-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  zoom: 1.4;
}
.voucherbox__logo {
  width: 76px;
  height: 42px;
  margin: 0 2rem 1.4rem;
  display: block;
  background-image: url('logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.voucherbox__text {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  margin: .8rem 0;
  color: #ffffff;
}
.voucherbox__number {
  text-align: center;
  padding: 5px;
  border: 0;
  margin: 0;
  width: 130px;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .voucherbox {
    zoom: 0;
    margin-top: 20px;
  }
  .login, .image {
    min-height: 0;
  }
}